page-defaulthome {
#round{
    background-color: rgb(15, 195, 240);
    height: 100%;
}
ion-searchbar{
    width: 70%;
    margin-top: -12%;
}
.image{
    margin-left: 40%;
}
#mix{
    margin-left: 23%;
}
#pic{
    margin-left: 10%;
}
#fr{
    margin-top: 0%;
    width: 100%;
}
#gif{
   width: 100%;
    
}
#ww{
    font-family: 'Lobster', cursive;
    font-size: 35pt;
}
}
